/** Now Playing **/

  
.now-playing__name {
    font-size: 1em;
    margin-bottom: 0em;
}

.now-playing__artist {
    font-size: .7em;
    margin-bottom: .3em;
}

.now-playing__status {
    font-size: .5em;
    margin-bottom: .5em;
}

.now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 30%;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 70%;
}

.now-playing__side {
    margin-left: 5%;
    margin: 5%;
    width: 45%;
}

/** Progress **/

.progress {
    border: 1px solid #eee;
    height: 3px;
    border-radius: 2px;
    overflow: hidden;
}

.progress__bar {
    background-color: #eee;
    height: 2px;
}